<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brainmangv.flutter_meta_sdk_no_ad_network">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>

        <meta-data
            android:name="com.facebook.sdk.CodelessDebugLogEnabled"
            android:value="true" />
    </application>
</manifest>